﻿<!-- main app container -->

<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-sm-12">
                <alert></alert>
                <router-outlet></router-outlet>
            </div>
            <div class="col"></div>
        </div>
    </div>
</div>