.header {
    width: 100%;
    max-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: #673ab7;
    color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.header .search-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header .search-bar .inputs {
    width: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
}

.header .search-bar .inputs .text {
    padding-left: 5px;
    background-color: #ffffff;
    color: #000;
    width: 260px;
    height: 30px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
}

.header .search-bar button {
    margin: 10px;
    background-color: transparent;
    color: #fff;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 10px;
    font-size: 24px;
}

.header .search-bar button:hover {
    background-color: #320b86;
}

.body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.body .filter {
    margin-top: 30px;
    padding-left: 5px;
    background-color: #ffffff;
    color: #000;
    width: 260px;
    height: 30px;
    border: solid;
    border-width: 1px;
    border-radius: 4px;
    border-color: #d6d6d6;
    font-size: 14px;
}

.body .list {
    display: flex;
    flex-direction: row;
}

.body .list .item {
    padding: 10px;
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    height: 300px;
    max-width: 300px;
    margin: 1rem;
    position: relative;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.body .list .item:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.lbl {
    position: relative;
    display: block;
    height: 20px;
    width: 44px;
    background: #898989;
    border-radius: 100px;
    cursor: pointer;
    transition: all .3s ease;
}

.lbl:after {
    position: absolute;
    left: -2px;
    top: -3px;
    display: block;
    width: 26px;
    height: 26px;
    border-radius: 100px;
    background: white;
    box-shadow: 0px 3px 3px rgba(#000, .05);
    content: '';
    transition: all .3s ease;
}

.lbl:active:after {
    transform: scale(1.15, .85);
}

.cbx:checked~label {
    background: #6FBEB5;
}

.cbx:checked~label:after {
    left: 20px;
    background: #179588;
}

.hidden {
    display: none;
}